@font-face {
    font-family: 'GoogleSansCode';
    src: url('/fonts/GoogleSansCode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: "GoogleSansCode", "Inter", "PingFang SC", "Microsoft YaHei", ui-sans-serif;

    /* 背景 */
    --color-background: #F5F7FA;

    /* 主题色 */
    --color-primary: #c7000b;
    --color-primary-light: color-mix(in oklab, var(--color-primary) 10%, white);

    /* 中性色 */
    --color-border: var(--color-gray-200);

    /* Footer */
    --color-footer-bg: #1a1a1a;
    --color-footer-text: #a1a1aa;
}

@utility indent-2em {
    text-indent: 2em;
}


/* 自定义 utility */
@utility bg-hero-gradient {
    background: linear-gradient(to bottom, var(--color-primary-light), var(--color-background));
}